<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Meu Portfólio</title>
</head>
<body>
    <header>
        <h1>Meu Nome</h1>
        <nav>
            <a href="#sobre">Sobre</a>
            <a href="#projetos">Projetos</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Feito com FastHTML</p>
    </footer>
</body>
</html>
